
:root{
    --mainTextColor-light: #000;
    --secondaryTextColor-light: (51, 51, 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);
    
    --mainTextColor: var(--mainTextColor-light);
    --secondaryTextColor: var(--secondaryTextColor-light);
    --mainLinkColor: var(--mainLinkColor-light);
    --mainBorderColor: var(--mainBorderColor-light);
    --mainBgColor: var(--mainBgColor-light);
}

.darkmode{
    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: #8d63c1;
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;
    
    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
}

*{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

label{
    width: 40px;
    height:19px;
    position:relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 50px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.4s;
}

label:after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #89d8ff, #0b97d8);
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.4s;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: #242424;
}

input:checked +label:after{
    left: 38px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after{
    width: 30px;
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: .5em;
}

li{
    line-height: 1.8em;
}

#main-container{
    max-width: 700px;
    margin: 0 auto;
}

.section-page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#hero-wrap{
    display: flex;
    align-items: center;
    gap: 4em;
}

#name{
    font-size: 3em;
    line-height: 1em;
}

#bio{
    font-weight: 300;
}

#profile-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: solid 2px var(--mainBorderColor);
}

#email{
    color: var(--mainTextColor);
}

#social-media{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#social-media a{
    font-size: .8em;
    color: var(--secondaryTextColor);
    transition: .4s
}

#social-media a:hover{
    color: var(--mainLinkColor);
}

#quals-skills{
    list-style: none;
}

#techstack-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: .9em;
}

.tech-card{
    border: 2px solid var(--mainBorderColor);
    padding: .5em 1em;
    border-radius: 6px;
}

.work-exp-card{
    border-left: solid 2px var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 1em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.edu-card{
    border-left: solid 2px var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 1em;
}

.project-card{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.project-card a{
    color: var(--mainTextColor);
    transition: .4s;
}

.project-card a:hover{
    color: var(--mainLinkColor)
}

@media(max-width:600px){
    #hero-wrap{
        flex-direction: column;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    border: solid 5px var(--mainBorderColor);

    }

    #social-media{
        flex-direction: column;
        align-items: flex-start;
        gap: .5em;
    }

    a{
    border: 3px solid var(--mainBorderColor);
    }

    #quals-skills{
        padding-left: 0;
    }

    .section-page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .work-exp-card{
        border-left: none;
        padding-left: 0;
    }

    .edu-card{
        border-left: none;
        padding-left: 0;
    }
}