
:root{
    --mainTextColor-light: #000;
    --secondaryTextColor-light: (51, 51, 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);

    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: #8d63c1;
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;

    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
}

*{
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.8em;
}

#main-container{
    max-width: 700px;
    margin: 0 auto;
}

.section-page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#hero-wrap{
    display: flex;
    align-items: center;
    gap: 4em;
}

#name{
    font-size: 3em;
    line-height: 1em;
}

#bio{
    font-weight: 300;
}

#profile-pic{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: solid 2px var(--mainBorderColor);
}

#email{
    color: var(--mainTextColor);
}

#social-media{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#social-media a{
    font-size: .8em;
    color: var(--secondaryTextColor);
    transition: .4s
}

#social-media a:hover{
    color: var(--mainLinkColor);
}

#quals-skills{
    list-style: none;
}

#techstack-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: .9em;
}

.tech-card{
    border: 2px solid var(--mainBorderColor);
    padding: .5em 1em;
    border-radius: 6px;
}